.archive {
    .site-content {
        .page-title {
            text-transform: uppercase;
            font-size: 1.5rem;
            border-bottom: 1px solid #e1e1e1;
            padding-bottom: 15px;
        }
    }
}