.site-footer {
    background: url(../../images/dark-wood.png);
    height: 350px;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .footer-container {
        display: flex;
        justify-content: space-around;

        .footer-info {
            h3 {
                color: #d99054;
                font-family: 'Novecento Sans Web', sans-serif;

            }

            .footer-side {
                color: #ffffff;

                a{
                    text-decoration: none;
                    color: #ffffff;
                }
            }
        }
    }


}

.site-info {
    text-align: center;
    min-width: 100%;
    color: #ffffff;
    font-family: 'Novecento Sans Web', sans-serif;

}