.site-footer {
    background: url(../../images/dark-wood.png);
    height: 350px;

    .footer-container {
        display: flex;
        justify-content: space-around;
    }


}

.site-info {
    text-align: center;
    min-width: 100%;
}