.site-header {
    display: flex;
    background-color: rgba(white, 0.6);
    position: fixed;
    z-index: 99;
    min-width: 100%;
    padding: 0 10rem;

    .site-branding{
        img {
            height: 36px;
        }      
    }

    .content-area {
        width: 75%;
    }

    .main-navigation {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #248A83;
    }

}


.product-info {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 1200px;

    h2 {
        text-align: center;
    }
    .product-type-blocks {
        display: flex;
        justify-content: space-between;
        text-align: center;
            // height: auto;

    .product-type-block-wrapper {
        border: 1px solid #e1e1e1;
        padding: 25px;

        a {
            text-decoration: none;
            color: white;
            background: #248a83;
            padding: 10px 20px;
        }
                
            img {
                width: 25%;
            }
        }
    }
}

.journal-entries {
    h2 {
        text-align: center;
    }
    .journal-entries-container {
        display: flex;
        justify-content: space-around;

        .journal-posts {
            img {
                width: 75%;
            }
        }
    }

}

.adventures-container {
    h2 {
        text-align: center;
    }
    
    .adventure-entries {
        display: flex;
        justify-content: space-between;
    }
    
    .adventure-post {
        a{
            text-decoration: none;
        }
        img {
            width: 80%;
        }
    }

}