.site-header {
    display: flex;
    position: fixed;
    z-index: 99;
    min-width: 100%;
    padding: 0 10rem;
    background-color: hsla(0,0%,100%,.85);

    .site-branding{
        img {
            height: 36px;
        }      
    }

    .content-area {
        width: 75%;
    }

    .main-navigation {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #248A83;
    }
    
    .search-form {
        display: flex;
        button {
            border: none;
            background-color: hsla(0,0%,100%,.85);
            color: #248a83;
        }
    }

}


.product-info {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 1200px;

    h2 {
        text-align: center;
        font-size: 40px;
        color: #2f1339;
        font-weight: 400;
    }
    .product-type-blocks {
        display: flex;
        justify-content: space-between;
        text-align: center;

    .product-type-block-wrapper {
        border: 1px solid #e1e1e1;
        border-top-width: 5px;
        padding: 25px;
        margin-right: 2rem;

        &:hover {
            border-color: #d99054;
        }

        p {
            margin: 20px 10px 20px 10px;
        }
       
        a {
            text-decoration: none;
            color: white;
            background: #248a83;
            padding: 10px 20px;

            &:hover {
                background-color: #19625d;
            }
        }
                
            img {
                width: 25%;
            }
        }
    }
}
.journal-box {
    .journal-entries {
        width: 100%;
        h2 {
            width: 100%;
            text-align: center;
            font-size: 40px;
            color: #2f1339;
            font-weight: 400;

        }
        .journal-entries-container {
            display: flex;
                .journal-posts {
                height: 100%;
                width: 100%;
                flex-basis: 30%;
                border: 1px solid #e1e1e1;
                margin: 0 1%;
                justify-content: center;
                    img {
                        object-fit: cover;
                        height: 20vmax;
                        padding-bottom: 5px;
                        background: #e1e1e1;
                        width: 100%;
                    }
                }
            

                .journal-posts-container {
                    padding: 20px;
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .journal-comment {
                        margin-bottom: 0;
                        font-size: 12px;
                    }

                    h3 {
                        margin-top: 7px;
                        font-size: 19px;
                    }

                    .jp-title {
                        color: #248a83;
                        &:hover {
                            color: #2f1339;
                        }
                    }
                    
                    a {
                        text-decoration: none;
                    }

                    .btn {
                        color: #000000;
                        border: 1px solid #000000;
                        padding: 10px;

                        &:hover {
                            background-color: #248a83;
                            border: 1px solid #248a83;
                            color: #ffffff
                        }
                    }

                }

            }
        }
    }


.adventures-container {
    h2 {
        width: 100%;
        text-align: center;
        font-size: 40px;
        color: #2f1339;
        font-weight: 400;
    }

    .adventures-grid-container {
        display: grid;
        width:1112px;
        margin-left: auto;
        margin-right: auto;
        height: 645px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "canoe-girl canoe-girl beach beach" "canoe-girl canoe-girl mountain star-gazing" ". . . .";
        img {
            filter: brightness(80%)
        }
      }

      .canoe-girl,
      .beach,
      .mountain,
      .star-gazing{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border: 10px solid white;
            position: relative
        }

        .adventure-post-pic{
            object-fit: cover;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    
    .canoe-girl { grid-area: canoe-girl; }
    
    .beach { grid-area: beach; }
    
    .mountain { grid-area: mountain; }
    
    .star-gazing { grid-area: star-gazing; }
    
    .adv-title {
        .at-canoe {
            font-size: 35px;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }
        .at-beach {
            font-size: 30px;
            padding-right: 1rem;
            padding-left: 1.5rem;
        }
        .at-mountain,
        .at-star {
            font-size: 20px;
            padding-right: .5rem;
            padding-left: .5rem;
        }

        .title-grid {
            position: absolute;
            top: 0;
            left: 0;
            a {
                text-decoration: none;
                color: bisque
            }
            
        }
            p {
                position: absolute;
                border: 1px solid black;
                padding: 5px;
                &:hover {
                    background: #248a83;
                    color: #ffffff;
                    border-color: #248a83;
                }
            }
            .read-canoe {
                transform: translate(19px, -400px);
            }
            .read-beach {
                transform: translate(24px, -273px);                
            }
            .read-mountain,
            .read-star {
                transform: translate(10px, -92px);                
            }

    }  
    .more-adventures {
        color: #ffffff;
        border: 1px solid #248a83;
        background-color: #248a83;
        padding: .5rem;
        text-align: center;

        &:hover {
            background-color: #19625d;
        }
    }
}