.page {
    .content-area {
        padding: 5rem;

        .entry-header {
            position: relative;

            img {
                height: auto;
                width: 100%;
            }
            .entry-title {
                font-size: 30px;
                color: #404040;
            }
        }
        .entry-content {
            .find-page {
                text-align: left;
                font-size: 40px;
                color: #2f1339;
            }
            p {
                font-size: 18px;
            }
        }

    }

}