        .entry-content {
            .about-story {
                text-align: center;
                font-size: 40px;
                color: #2f1339;
            }
            .about-tag {
                font-size: 18px;
                margin-left: 11rem;
                margin-right: 11rem;
            }
        }
