/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

// Global Layout

.site-content {
    display: flex;
    width: 100%;

    .content-area {
        width: 75%;
        flex-grow: 1;
    }
    .widget-area {
        width: 25%;
        margin-top: 5rem;
    }
}

/* Front page */

// Journal Page
.blog {
    .content-area {
        padding: 10rem;
        .entry-header {
            background: #ddd;
            position: relative;

            img {
                height: auto;
                width: 100%;
            }
            .entry-title {
                position: absolute;
                top: 0;
                left: 0;
                color: #ffffff;
                background: #248a83;
                padding: .5em;
                margin-top: 2rem;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
            .entry-meta {
                position: absolute;
                bottom: 0;
                right: 0;
                color: white;
                background: #248a83;
                margin-bottom: 5rem;
                padding: 0.5em
            }
            img {
                width: 100%;
            }
            
            .entry-content{
                p {
                    padding: 10rem;
                }
            }
        }
    }
}

.archive {

    .entry-header {
        object-fit: cover;
        width: 75%;
        height: fit-content;
    }
    .entry-content {
        p {
            display: none;
        }
    }

}