.single {
    .content-area {
        padding: 10rem;

        .entry-header {
            background: #ddd;
            position: relative;

            img {
                height: auto;
                width: 100%;
            }
            .entry-title {
                position: absolute;
                top: 0;
                left: 0;
                color: #fff;
                background: #248a83;
                padding: .5em;
                margin-top: 2rem;
                font-family: 'Novecento Sans Web', sans-serif;
                font-size: 2rem;
            }
            .entry-meta {
                position: absolute;
                bottom: 0;
                right: 0;
                color: white;
                background: #248a83;
                margin-bottom: 5rem;
                padding: 0.5em;
               
                .comments-link {
                    a{
                        text-decoration: none;
                        color: #ffffff
                    }
                }
            }
        }
        .entry-footer {
            .cat-links,
            .tags-links {
                a {
                text-decoration: none;
                color: #248a83;
                }
            }
            .single-btn {
                display: flex;
                p {
                    border: 1px solid #000000;
                    padding: 10px;
                    margin-right: 10px;
                    &:hover {
                        background: #248a83;
                        border: 1px solid #248a83;
                        color: #ffffff;
                    }
    
                }
            }
        }
    }
}