.single-product-shop {
    article {
        padding-top: 1em;
        display: flex;
        flex-direction: row;
        .product-description {
            width: 49%;
            margin-left: 6em;
            h1 {
                color: #D99054;
                text-transform: uppercase;
                font-family: 'Novecento Sans Web', sans-serif;
                font-size: 2rem;
            }
            h2 {
                font-weight: 400;
                font-family: 'Novecento Sans Web', sans-serif;
            }
        }
        .header-product{
             img {
            margin-top: 2em;
            height: 25rem;
            max-width: 100%;
            }
        }
    }
}