.shop-objects {
    border-bottom: 1px dashed #c8c8c8;
    padding-bottom: 2rem;
}

.shop-objects {
    padding-top: 5rem;
    text-align: center;

    .shop-name {
        font-size: 30px;
        font-weight: 700;
    }
}

.shop-slug-loop {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding-top: 2rem;
    height: 26vmax;
    
    .type-product {
        border: 1px solid #a1a1a1;

        .entry-header {
            width: 100%;
            height: 16em;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }

            .shop-price-container {
                display: flex;
                justify-content: space-around;

                .entry-title {
                    a {
                        text-decoration: none;
                        color: #000000;
                        font-weight: 100;
                    }
                }
            }
        }
    }

}